<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>WebServices.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>WebServices.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertItem</servlet-name>
        <servlet-class>WebServices.InsertItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCart</servlet-name>
        <servlet-class>WebServices.SubmitCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCart</servlet-name>
        <servlet-class>WebServices.EditCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>WebServices.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCart</servlet-name>
        <servlet-class>WebServices.ClearCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>WebServices.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTotalPrice</servlet-name>
        <servlet-class>WebServices.GetTotalPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAttributes</servlet-name>
        <servlet-class>WebServices.SetAttributes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearOrders</servlet-name>
        <servlet-class>WebServices.ClearOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItems</servlet-name>
        <servlet-class>WebServices.GetItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewItem</servlet-name>
        <servlet-class>WebServices.InsertNewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromDB</servlet-name>
        <servlet-class>WebServices.RemoveItemFromDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertItem</servlet-name>
        <url-pattern>/InsertItem</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SubmitCart</servlet-name>
        <url-pattern>/SubmitCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCart</servlet-name>
        <url-pattern>/EditCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCart</servlet-name>
        <url-pattern>/ClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTotalPrice</servlet-name>
        <url-pattern>/GetTotalPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAttributes</servlet-name>
        <url-pattern>/SetAttributes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearOrders</servlet-name>
        <url-pattern>/ClearOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItems</servlet-name>
        <url-pattern>/GetItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewItem</servlet-name>
        <url-pattern>/InsertNewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromDB</servlet-name>
        <url-pattern>/RemoveItemFromDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
